<script lang="ts" setup>
import { ref } from "vue";
let src = ref("../../feeling_imgs/angry.png");
let text = ref("Angry");
const color = ref("white");
const changeImg = (img: string) => {
  src.value = img;
};
const changeText = (t: string) => {
  text.value = t;
};
</script>
<template>
  <v-container>
    <v-row cols="12">
      <v-col>
        <v-img :src="src" style="height: 500px"> </v-img>
      </v-col>
      <v-col style="text-align: center">
        <h1>{{ text }}</h1>
        <v-item-group mandatory>
          <v-item v-slot="{ isSelected, toggle }">
            <v-btn
              @click="
                changeImg('../../feeling_imgs/angry.png'),
                  changeText('Angry'),
                  toggle()
              "
              :color="isSelected ? 'yellow' : 'white'"
            >
              ANGRY </v-btn
            ><br /><br />
          </v-item>
          <v-item v-slot="{ isSelected, toggle }">
            <v-btn
              @click="
                changeImg('../../feeling_imgs/cute.png'),
                  changeText('Cute'),
                  toggle()
              "
              :color="isSelected ? 'yellow' : 'white'"
              value="Cute"
            >
              CUTE </v-btn
            ><br /><br />
          </v-item>
          <v-item v-slot="{ isSelected, toggle }">
            <v-btn
              @click="
                changeImg('../../feeling_imgs/excited.png'),
                  changeText('Excited'),
                  toggle()
              "
              value="Excited"
              :color="isSelected ? 'yellow' : 'white'"
            >
              EXCITED </v-btn
            ><br /><br />
          </v-item>
          <v-item v-slot="{ isSelected, toggle }">
            <v-btn
              @click="
                changeImg('../../feeling_imgs/pain.png'),
                  changeText('Pain'),
                  toggle()
              "
              value="Pain"
              :color="isSelected ? 'yellow' : 'white'"
            >
              PAIN </v-btn
            ><br /><br />
          </v-item>
          <v-item v-slot="{ isSelected, toggle }">
            <v-btn
              @click="
                changeImg('../../feeling_imgs/shocked.png'),
                  changeText('Shocked'),
                  toggle()
              "
              value="Shocked"
              :color="isSelected ? 'yellow' : 'white'"
            >
              SHOCKED </v-btn
            ><br /><br />
          </v-item>
          <v-item v-slot="{ isSelected, toggle }">
            <v-btn
              @click="
                changeImg('../../feeling_imgs/smile.png'),
                  changeText('Smile'),
                  toggle()
              "
              :color="isSelected ? 'yellow' : 'white'"
            >
              SMILE
            </v-btn>
          </v-item>
        </v-item-group>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-btn {
  width: 500px;
}
</style>
