<script lang="ts" setup>
import { ref } from "vue";

interface Product {
  id: number;
  name: string;
  price: number;
}

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

let productsList = ref<Product[]>([]);
let productsSum = ref(0);

function atClicked(index: number) {
  productsList.value.push({
    id: products.value[index].id,
    name: products.value[index].name,
    price: products.value[index].price,
  });
  productsSum.value += products.value[index].price;
}
</script>
<template>
  <v-container>
    <v-row class="elevation-5"
      ><v-col cols="6" style="background-color: rgb(234, 234, 234)">
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-table height="530px">
                <tr
                  v-for="r in 34"
                  :key="r"
                  style="background-color: rgb(234, 234, 234)"
                >
                  <td
                    class="font-weight-bold text-subtitle-1"
                    v-for="c in 3"
                    :key="c"
                  >
                    <v-card
                      class="ma-3"
                      max-width="200"
                      v-if="3 * (r - 1) + c - 1 < 100"
                    >
                      <v-card-title
                        style="color: rgb(35, 59, 77); text-align: center"
                      >
                        {{ products[3 * (r - 1) + c - 1].id }}
                      </v-card-title>
                      <v-card-subtitle
                        style="color: rgb(159, 175, 186); text-align: center"
                      >
                        {{ products[3 * (r - 1) + c - 1].price }}
                      </v-card-subtitle>
                      <v-card-actions class="justify-center">
                        <v-btn
                          variant="tonal"
                          color="gray"
                          class="font-weight-bold ma-1"
                          width="50"
                          @click="atClicked(3 * (r - 1) + c - 1)"
                        >
                          ADD
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </td>
                </tr>
              </v-table>
            </v-col>
          </v-row>
        </v-container></v-col
      >
      <v-col style="background-color: rgb(234, 234, 234)">
        <v-table class="ma-3" height="530px">
          <thead style="text-align: center">
            <tr>
              <td>ID</td>
              <td>Name</td>
              <td>Price</td>
            </tr>
          </thead>
          <tbody style="text-align: center">
            <tr
              v-for="item in productsList"
              :key="item.id"
              v-show="productsList.length > 0"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
            <tr v-show="productsList.length === 0" style="text-align: center">
              <td style="text-align: center" colspan="3">
                <p style="text-align: center">NO Data</p>
              </td>
            </tr>
          </tbody>
        </v-table>
        <v-row class="align-end ml-3">
          <h1>Sum: {{ productsSum }}</h1>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.scrollable {
  overflow-y: scroll;
}
</style>
