<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const useCounter = useCounterStore();
const increment = (): void => {
  useCounter.increment();
};
</script>
<template>
  <v-container>
    <v-row>
      <p class="ma-1">First Component</p>
    </v-row>
    <v-row>
      <p class="ma-1">{{ useCounter.count }}</p>
    </v-row>
    <v-row>
      <v-btn class="ma-1" @click="increment"> INCREMENT </v-btn>
    </v-row>
  </v-container>
</template>
