<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const useCounter = useCounterStore();
const decrease = (): void => {
  useCounter.decrease();
};
</script>
<template>
  <v-container>
    <v-row>
      <p class="ma-1">Second Component</p>
    </v-row>
    <v-row>
      <p class="ma-1">{{ useCounter.doubleCount }}</p>
    </v-row>
    <v-row>
      <v-btn class="ma-1" @click="decrease"> DECREASE </v-btn>
    </v-row>
  </v-container>
</template>
